<div class="row">
  <div class="card col-3" *ngFor="let p of products">
    <img class="card-img-top" src="{{ p.images }}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ p.title }}</h5>
      <p class="card-text">
        {{ p.description }}
      </p>
      <div class="d-flex justify-content-around">
        <button (click)="addToPreferiti(p)" class="btn btn-primary p-2">
          Preferiti
        </button>
        <button (click)="addToCart(p)" class="btn btn-success p-2">
          Compra!
        </button>
      </div>
    </div>
  </div>
</div>
